<!DOCTYPE html>
<html>
  <head>
    <title>Lee rails Blog</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
    
  <body>
  <%= render "shared/header" %>
    <%= yield %>
  <%= render "shared/footer" %>
  </body>

</html>
